@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    --background-color: #0f172a;
    --background-color-secondary: #1e293b;
    --text-color: #f8fafc;
    --text-color-secondary: #d3d3d3;
    --highlights: #8d64ed;
    --border-grey: #484f5e;
    --lightgrey: #d3d3d3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
}

#root {
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    #root {
        display: flex;
        flex-flow: column nowrap;
    }

    section,
    aside {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    #root {
        display: grid;
        grid-template-areas:
            "header header header header header"
            "search search search search search"
            "results results results details details"
            "tags tags tags tags tags"
            "favorites favorites favorites favorites favorites";
        grid-gap: 15px 15px;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        place-content: center;
    }
}
